//글 열람 화면
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Docs url</title>
  <link rel="stylesheet" href="/static/index.css">
  <link rel=“stylesheet” href=“http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css“>
</head>
<body>
  <div class="wrap">
    <h1>글 열람 화면</h1>
    <table class="type10">
      <thead>
        <tr>
          <th scope="cols"><%=match.title %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=match.body%></td>
        </tr>
      </tbody>
    </table>
    <form id="form-review" action="/open/<%=match.id %>/review" method="post">
      <input type="text" name="review" value="review">
      <input class="button" type="submit" value="댓글달기">
    </form>
    <%review.forEach(item => {%>
        <li><%=item.review %></li>
    <%})%>
  </div>
</body>
</html>